/* making the buttons green

.btn-primary {
    background-color:#4B5320 !important; 
    border-color: #ffffff !important;
    background-image: linear-gradient(#4b5320, #818662);
    margin-top: 3px !important;
}

.btn-primary:hover {
    background-color:#6e754c !important; 
    border-color: #ffffff !important;
    background-image: linear-gradient(#939799, #4b5320);
} */